@using LawAlert.Core.Models.Law
@model LawViewModel
<div class="d-flex mb-4">
    <div class="btn-primary btn-lg-square px-3" style="border-radius: 50px;">
        <h5 class="text-secondary m-0" asp-controller="Chapter" asp-action="All">...</h5>
    </div>
    <div class="ml-4">
        <h5 class="text-secondary m-0">@Model.Name</h5>
        <p class="text-secondary m-0">@Model.DetailsCard()</p>
    </div>
</div>